
.setting-menu{
    z-index: 0; /*2,0*/
    opacity: 0;
    /* height: 400px; */
    max-height: 300px !important;
    transition:all .3s;
    max-width: 250px ;
    width: 30%;
    min-width: 200px;
    background: rgba(0, 0, 0, 0.8);
    /* background: linear-gradient(135deg, rgba(29, 29, 29, 0.507), rgba(0, 0, 0, 0.54));
    scrollbar-color: rgba(194, 194, 194, 0.445) rgba(0, 0, 0, 0.155) !important; */
    border-radius: 6px;
    position:absolute;
    right:10px;
    bottom: 60px;
    border-radius: 6px;
    overflow-x:hidden ;
    overflow-y:auto;
    /* display: none; */
    scrollbar-color: #505050 rgb(30, 30, 30)!important;
    scrollbar-width: thin;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}
.item-panel-main {
    color:#bdbdbd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}.item-panel-main:hover,.menu2-item:hover:not(.item-slected-all){
    background-color:#ffffff18 ;
}
.item-panel-main {
    cursor: pointer;
    padding:8px 10px;
}
.panel .menu2-item{
    cursor: pointer;

    color:#e8e8e8;
    padding:8px 16px;
    font-size:0.95rem

}.svg-item-panel-image{
    height: 1.3rem;
    width:1.3rem;
}
#equalizer-filter-filtering-svgrepo-com{
    fill:white;
}
#speed-alt-svgrepo-com{
    fill:none;
    stroke-width: 2.5px;
    stroke:white;
}
#subtitle-svgrepo-com{
    fill:none;
    stroke-width: 1.8px;
    stroke:white;
}
.item-back{
    cursor: pointer;
    color:#bdbdbd;
    padding:8px 10px;
    border-bottom: 1px solid rgb(77, 77, 77);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-svg{
    height: 1rem;
    width:1rem;
    fill: #bdbdbd;
    stroke-width: 2px;
    stroke: #bdbdbd;
}
.next-svg{
    height: 0.8rem;
    width:0.8rem;
   
    fill: #bdbdbd;
    stroke-width: 2px;
    stroke: #bdbdbd;
}.selectedAndNextSvg,.itemPanelNameAndImages{
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
    padding:5px 0px ;
    position: absolute;
    right:100%;
    width: 100%;
    transition: all .25s;
}
.panel-main{
    right: 0;
    transition: all .3;
}
.panel-sub{
    transition: all 0.4s;
}
.item-panel-name{
    
    margin:0 5px;
}

.hide-menu{
    opacity: 0;
    z-index: 0;
}
.show-menu{
    opacity: 1;
    z-index: 34484849489498;
}
.selected-item{
    font-size:.8rem;
    color:white;
    margin:0 5px;
}
.item-slected-all{
    position: relative;
    background-color: #ffffff18 ;
}
.item-slected-all::after{
    content: '';
    background-color: #ffffffe3;
    width: 10px;
    height: 10px;
    position: absolute;
    right:4%;
    top:50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
/* .item-slected-quality,.item-slected-speed,.item-slected-subtitle{
    background:rgb(204, 204, 204);
    color:#090909 !important;
} */